body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(46, 47, 66, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    font-family: "Roboto", sans-serif;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-button {
    display: flex;
    position: absolute;
    border-radius: 50%;
    fill: #2e2f42;
    background-color: #e7e9fc;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-button:hover, .div-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.parag-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 24px;
    margin-bottom: 16px;
}

.form-label {
    display: block;
    line-height: 1.17;
    display: block;
    margin-bottom: 4px;
    letter-spacing: 0.04em;
    font-size: 12px;
    color: #8e8f99;
}

.div-label {
    margin-bottom: 8px;
}

.form-icon {
    position: relative;
}

.input-modal {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
    border-color: #4D5AE5;
}

.form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-svg:focus {
    fill: #4D5AE5;
}

.textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.div-checkbox {
    margin-bottom: 24px;
}

.form-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.button-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    margin-left: auto;
    margin-right: auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

}

.logo-part { 
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.link:hover, .link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.team {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover, .contacts:focus {
    color: #404bbf
}

.sec-one {
    display: flex;
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}

.div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color:#ffffff;
    max-width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button {
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
    background-color: #404BBF;
}

.sec-two {
    padding: 120px 0;
}

.title-dva {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.title-three {
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    background-color: #FFFFFF;
    margin-bottom: 8px;
    }

.parag-dva {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.list-features {
    display: flex;
    gap: 24px;
}

.item-features {
    width: calc((100% - 72px) / 4);
}

.sec-three {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.ul-icons {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.li-icons {
    width: 40px;
    height: 40px;
}

.link-icons {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icons:hover, .link-icons:focus {
    background-color: #404bbf;
}

.icon-icons {
    fill: #f4f4fd;
}

.title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
}

.team-container{
    align-items: center;
    display: flex;
    gap: 24px;
}

.title-tre {
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    background-color: #FFFFFF;
    margin-bottom: 8px;
    text-align: center;
}

.link-one {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.text{
    padding-top: 32px;
    padding-bottom: 32px;
}

.parag-tre {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.section-four{
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-port{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.part-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.part-list:hover .img-parag {
    transform: translateY(0%);
}

.div-img {
    position: relative;
    overflow: hidden;
}

.img-parag {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.part-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.parag-chet {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.cont-port {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
}

.logo-f {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.logo-dva {
    color: #f4f4fd;
}

.parag-f {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.foot-block {
    display: flex;
    align-items: baseline;
}

.logo-block {
    margin-right: 120px;
}

.div-parag {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.ulfoot-icons {
    display: flex;
    gap: 16px;
}

.link-icon:hover, .link-icon:focus {
    background-color: #31d0aa;
}

.link-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-foot {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.input-foot {
    display: flex;
    padding-left: auto;
    margin-top: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    background: none;
    height: 40px;
}

.form-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    padding: 8px 24px;
}

.div-form {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 24px;
    justify-content: center;

}

.back {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
}
