body {
    font-family: "Roboto", sans-serif;
    background: #fff;
}

.logot {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo1 { 
    line-height:1.17;
    color: #2e2f42;
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.link:hover, .link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.team {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contacts:hover, .contacts:focus {
    color: #404bbf
}

.tittle {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.butka {
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.butka:hover, .butka:focus {
    background-color: #404BBF;
}

.title-dva {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.parag {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.team-sec {
    background-color: #F4F4FD
}

.title-tre {
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    background-color: #FFFFFF;
}

.parag-tre {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.parag-chet {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.back {
    background-color: #2e2f42;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.logo2 {
    color: #f4f4fd;
    line-height: 1.17;
    color: #2e2f42;
}