body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

}

.logo-part { 
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;

}

.link:hover, .link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin: auto;
}

.address-list {
    display: flex;
    gap: 40px;

}

.team {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contacts:hover, .contacts:focus {
    color: #404bbf
}

.sec-one {
    background-color: #2e2f42;
    padding: 188px 0;
}

.button-container {

}

.title {
    weight: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color:#ffffff;
    max-width: 496px;
}

.button {
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    display: block;
}

.button:hover, .button:focus {
    background-color: #404BBF;
}

.sectwo {
    padding: 120px 0;
}

.title-dva {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
} 

.visually-hidden {
    visibility: hidden;
}

.parag-dva {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.list-features {
    display: flex;
    gap: 24px;
}

.item-features {
    width: calc((100%-72px)/4);
}

.sec-three {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container{
    align-items: center;
    display: flex;
    gap: 24px;
}

.title-tre {
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    background-color: #FFFFFF;
    margin-bottom: 8px;
    text-align: center;
}

.link-one {
    background-color: #FFFFFF;
    width: calc((100%-72px)/4);
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
}

.text{
    padding: 32px 0
}

.parag-tre {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.parag-chet {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.logo-dva {
    color: #f4f4fd;
}

.parag-f {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.back {
    background-color: #2e2f42;
}

a {
    text-decoration: none;
}
